{% extends 'base.html.twig' %}
{% block body %}
    <ul id="listing">
            {% for u in users %}
                <li>{{ u.username }}</a></li>
            {% endfor %}
        </ul>
{% endblock %}