{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <small>Using Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</small>
    </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
<style>
</style>
{% endblock %}
